#W
a\[1[0-5]\]
a\[[0-9]\]
clk
rst
b\[1[0-5]\]
b\[[0-9]\]

#N
a\[3[01]\]
a\[2[0-9]\]
a\[1[6-9]\]
p\[3[01]\]
p\[2[0-9]\]
p\[1[6-9]\]

#S
b\[3[01]\]
b\[2[0-9]\]
b\[1[6-9]\]
p\[1[0-5]\]
p\[[0-9]\]

#E
p\[6[0-3]\]
p\[5[0-9]\]
p\[4[0-9]\]
p\[3[2-9]\]
